*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: grid;
    gap: 3rem;
    place-items: center;
    margin-top: 2rem;
}

.container{
    background-color: #FFFFFF;
    box-shadow: 0px 32px 43px 0px #4FA6AF33;
    max-width: 920px;
    width: 100%;
    height: 481px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

.calculate-side{
    max-width: 379px;
    width: 100%;
    max-height: 388px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 15px 0px 15px
}
.calculated-side{
    background-color: #00474B;
    max-width: 413px;
    max-height: 417px;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.main-calculated{
    display: grid;
    gap: 1rem;
}
::selection{
    background-color: rgb(49, 98, 197);
    color:#FFFFFF;
}

@media (max-width:728px){
   
}

@media (max-width:375px){
    .container{
        flex-direction: column;
        justify-content: space-around;
        height: 789px;
    }
    .calculate-side,.calculated-side{
        max-width: 316px;
        margin: 0;
    }
    .calculated-side{
        max-height: 257px;
        max-width: 327px;
    }
}
    



