.Input{
    display: flex;
    flex-direction: column;
}

.Input label{
    font-size: 16px;
    color:#5E7A7D;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    

}
.dollar-icon{
    height: 15.46px;
    width: 9.84px;
    color:#9EBBBD;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -20%);
}

.bill-input{
    height: 48px;
    background: #F3F9FA;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: #00474B;
    padding: .5rem;
}
.bill-input:hover{
    border: 2px solid #26C2AE;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.scrollbar-black::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #000;
}
.input-body{
    position: relative;
}
.bill-input:focus{
    outline: none;
    box-shadow: 0 0 0 .2rem #26C2AE;
}

@media (max-width:375px){
    .Input{
        max-width: 311px;
        max-height: 78px;
    }
}